
@import url('나이키common.css');

body {
    width: 100%;
    margin: auto;
} 

.top-warp {
    width: 100%;
    background: fixed;
}

/* 마진 좌우 5프로씩 */

.top-header {
    background: rgba(237, 237, 237, 0.97);

    position: relative;
}

.middle-header {
    /* background: white; */

    position: relative;
}

.bottom-header {
    background: rgba(237, 237, 237, 0.97);
    position: relative;
}

.top-header ul {

    display: block;
    padding: 0;
}

.top-header ul li {
    padding: 10px 15px 10px 15px;
    float: left;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}


.top-header ul li:hover {
    font-weight: 900;
    text-decoration: underline;
    transform: scale(1.1);
}

.top-header .leftli {
    margin: 0 3%;
    float: left;
}

.top-header .rightli {
    margin: 0 3%;
    position: relative;
    float: right;

}

.middle-header .logo {
    width: 70px;
    height: 70px;
    float: left;
    padding-left: 60px;
}

.middle-header .logo .real-logo {
    background: url('../img/나이키-로고.jpg') center/cover;
    width: 100%;
    float: left;
    
}

.middle-header .top-nav-container {
  
    float: left;
    position: absolute;
    top: 35px;
}
.middle-header .top-nav-container ul li {
    float: left;
    font-size: 1.3em;
    padding: 15px 10px 15px 10px;
    font-size: 800;
    cursor: pointer;
}

.middle-header .top-nav-container ul li:hover {
    border-bottom: 2px solid black;
}

.middle-header .right-menu-container {
   
    /* float: left; */
    float: right;
    padding-right: 60px;
    position: relative;
    top: 20px;
    font-size: 1.5em;
    padding-left: 150px;
}
.middle-header .right-menu-container > div {
    width: 50%;
    height: 30px;
    border: 1px solid white;
    background: rgba(237, 237, 237, 0.97);
    border-radius: 40px;
    position: relative;
    margin-right: 20px;
    /* left: px; */
}
.middle-header .right-menu-container .zoom {
    padding-right: 120px;
}

.middle-header .right-menu-container > * {
    float: left;
}
.middle-header .right-menu-container i:nth-child(1) {
    position: relative;
    right: -5px;
    top: 3px;
    opacity: 0.5;
}
.middle-header .right-menu-container i:nth-child(2) {
    position: relative;
    right: -3px;
    opacity: 0.8;
}
.middle-header .right-menu-container i:nth-child(3) {
    margin-left: 30px;
    position: relative;
    right: -20px;
    opacity: 0.7;
}

.bottom-header p {
    text-align: center;
    padding: 10px;
}

.bottom-header .welcome {
    font-size: 1.2em;
    font-weight: 500;
}

.bottom-header .nike-member {
    font-size: 0.9em;
    padding-top: 0px;
}
.bottom-header .nike-member .join {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

/* main section */

.main-warp {
    width: 92%;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.main-warp .main-ad-photo {
    width: 100%;
    height: 120vh;

}
.main-warp .main-ad-photo .real-main-ad-photo {
    width: 100%;
    height: 120vh;
    background: url('../img/나이키-메인광고.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


.main-warp .descript-main-ad-photo {
    width: 100%;
    /* border: 1px solid #000; */
    text-align: center;
    padding: 50px 0;
    position: relative;
}
.main-warp .descript-main-ad-photo .air-max {
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
}
.main-warp .descript-main-ad-photo .feel {
    padding-bottom: 30px;
    font-size: 3.5em;
    font-weight: 900;
}
.main-warp .descript-main-ad-photo .descript {
    line-height: 35px;
    font-size: 1.2em;
}

.main-warp .descript-main-ad-photo .black-button-warp {
    width: 25%;
    margin-left: 40%;
}

.main-warp .descript-main-ad-photo .black-button-warp .black-button {
    float: left;
    background: black;;
    color: white;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 70px;

}
.main-warp .descript-main-ad-photo .black-button-warp .black-button:last-child {
    margin-left: 20px;
}
.main-warp .descript-main-ad-photo .black-button-warp .black-button:hover {
    background: grey;
    opacity: 0.8;
}
